name: dataenv
channels:
  - conda-forge
  - defaults
channel_priority: strict
dependencies:
  - python=3.12
  - numpy
  - scipy
  - scikit-learn
  - pandas
  - matplotlib
  - seaborn
  - statsmodels
  - nibabel
  - nilearn
  - ipykernel
  - jupyterlab
